nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;
    &:hover {
      scale: 1.04;
    }
  }
  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    // background: black;
    .logo {
      font-weight: bold;
      display: flex;
      font-size: 20px;
      align-items: center;
      gap: 10px;
      img {
        width: 48px;
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100px;
    a {
      padding: 12px 24px;
      margin: 20px;
    }
    .register {
      background-color: yellow;

      //margin-left: 20px;
      border-radius: 10px;
    }
  }
}
