.listPage {
  display: flex;
  height: 100%;
  .listContainer {
    flex: 3;

    .wrapper {
      padding-right: 50px;
      display: flex;
      gap: 50px;
      flex-direction: column;
      overflow-y: scroll;
    }
  }
  .mapContainer {
    flex: 2;
    background-color: antiquewhite;
  }
}
