@import "./responsive.scss";

.layout {
  background-color: purple;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  @include lg {
    background-color: rgb(182, 224, 224);
    max-width: 1280px;
  }
  @include md {
    background-color: pink;
    max-width: 768px;
  }
  @include sm {
    background-color: rgb(255, 141, 141);
    max-width: 640px;
  }
}
