.singlePage {
  display: flex;
  .details {
    flex: 3;
    .wrapper {
      padding-right: 50px;
      .info {
        .top {
          display: flex;
          justify-content: space-between;
          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
              font-weight: 400;
            }
            .address {
              display: flex;
              gap: 5px;
              color: #888;
              font-size: 14px;
              align-items: center;
              img {
                width: 16px;
                height: 16px;
              }
              span {
                font-weight: 300;
                font-size: 15px;
              }
            }
            .price {
              padding: 5px;
              border-radius: 5px;
              background-color: rgba(254, 205, 81, 0.438);
              width: max-content;
              font-size: 20px;
              font-weight: 300;
            }
          }
          .user {
            cursor: pointer;
            display: flex;
            background-color: rgba(254, 205, 81, 0.209);
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            gap: 20px;
            padding: 0 50px;
            font-weight: 600;
            flex-direction: column;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20px;
        }
      }
    }
  }
  .features {
    flex: 2;
    background-color: #fcf5f3;
    .wrapper {
      padding: 0px 20px;
    }
  }
}
